.fondo__home {
    background-image: url("images/fondo.jpg")
}

.img__principal {
    width: 250px;
    border-radius: 125px;
    position: absolute;
    top: 30px;
    left: 600px;
}

.nombre {
    font-size: 300%;
    text-align: center;
    width: 1000px;
    font-family: Arial Black;
    color: #b85888;
    position: absolute;
    top: 250px;
    left:270px;
}

.parrafo {
    text-align: center;
    font-weight: bold;
    width: 900px;
    font-size: 150%;
    font-family: Malgun Gothic;
    color: #57223b;
    position: absolute;
    top: 350px;
    left: 300px;
}

.github__link {
    font-size: 150%;
    font-family: Malgun Gothic;
    position: absolute;
    top: 550px;
    left: 670px;
}

